@{
    ViewBag.Title = "Index";
}
<html lang="zh-CN">
<head>
   <title>首页</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="~/Themes/Web/bootstrap/css/bootstrap.css" rel="stylesheet"/>
   <link href="~/Themes/Web/CSS/Index.css" rel="stylesheet" />
   <link href="~/Themes/Web/CSS/Member.css" rel="stylesheet" />

</head>
<body>
    <div class="container" >
        <div class="row-fluid">
        <header>              
        <nav class="navbar " role="navigation"  style="width:1170px;">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">LOGO</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="##">首&nbsp;&nbsp;&nbsp;&nbsp;页</a><div class="nav-line"></div></li>
                <li><a href="##">邮件群发</a><div class="nav-line"></div></li>
                <li><a href="##">短信群发</a><div class="nav-line"></div></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登录</a><div class="nav-line"></div></li>
                <li><a href="#">QQ联系</a><div class="nav-line"></div></li>
                <li><a href="#">问题反馈</a><div class="nav-line"></div></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
  </header>
            <!--header end-->                      
            <div class="main-content">

              
                <br class="clear" />
                <!-- Clear "float". Without a better way, do not delete it，thanks! -->
            </div>
            <footer>
                <div  class="footer">
                    <div class="footFont">
                        Copyright &copy; 2008- 2014. 
                    </div>
                    <a href="/Member/Home"><img alt="" src="/Themes/Images/inovitblue.gif" /></a>
                </div>
                
            </footer>

        </div>
        <!--row-fluid end-->
    </div>
    <!--container end-->
    <div style="display:none;">
   
    </div>
</body>
</html>